django==4.2.3
djangorestframework==3.14.0
djangorestframework-gis==1.0
django-filter==23.5
dj-url-filter==0.4.4
djangorestframework-queryfields==1.1.0
django-cors-headers==4.3.1
gunicorn==21.2.0
cffi==1.16.0
cryptography==42.0.5
ecdsa==0.18.0
future==1.0.0
idna==3.6
pycparser==2.21
markdown==3.5.2
packaging==23.2
psycopg2-binary==2.9.9
python-dotenv==0.15.0 
pytz==2024.1
